body {

    color: #f7f7f7;
}

.jumbotron {
    /*tells css only to apply styling to jumbotron divs*/

    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}